# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\GoIT_Java_Online_3\--==JavaDev3_Part_2==--\spring-jwt-realization_test\spring-jwt-realization\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
